{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
<div>
  <a href="start_mailings/" ><button class="btn">Старт</button></a>
</div>
<div>
  <a href="get_statistic/" ><button button class="btn">Статистика</button></a>
</div>
<div>
  <form method="post" action="/" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form_file_clients.as_p }}
    <button class="btn">Импорт клиентов</button>
  </form>
</div>
</body>
</html>