<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <p>детали рассылки</p>
  <div>
    <p>дата начала {{ mailing.date_time }}</p>
    <p>текст сообщения {{ mailing.text }}</p>
    <p>фильтры {{ mailing.filters }}</p>
    <p>количество успешных сообщений {{ mailing.num_ok_messages }}</p>
    <p>количество провальных сообщений {{ mailing.num_fale_messages }}</p>
  </div>

</body>
</html>