{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>

  <div class="content__header flex">

    <div class="flex content__header-unit content__header-name">
      <p class="content__header-title">рассылка</p>
    </div>
    <div class="flex content__header-unit content__header-responsible">
      <p class="content__header-title">текст</p>
    </div>
    <div class="flex content__header-unit content__header-date_to">
      <p class="content__header-title">дата создания</p>
    </div>
    <div class="flex content__header-unit content__header-date_to">
      <p class="content__header-title">фильтры</p>
    </div>
    <div class="flex content__header-unit content__header-date_from">
      <p class="content__header-title">количество успешных отправлений</p>
    </div>
    <div class="flex content__header-unit content__header-date_from">
      <p class="content__header-title">количество провальных отправлений</p>
    </div>

  </div >

{% for mailing in mailings %}

<div class="content__header-row flex">

<div class="flex content__header-unit content__header-name">
    <a href="/get_statistic/{{ mailing.id }}"><p id="text" class="text">{{ mailing.date_time }}</p></a>
</div>
<div class="flex content__header-unit content__header-responsible">
  {{ mailing.text }}
</div>
<div class="flex content__header-unit content__header-date_to">
{{ mailing.date_time }}
</div>
<div class="flex content__header-unit content__header-date_to">
  {{ mailing.filters. }}
</div>
<div class="flex content__header-unit content__header-date_from">
  {{ mailing.num_ok_messages }}
</div>
<div class="flex content__header-unit content__header-date_from">
  {{ mailing.num_fale_messages }}
</div>
</div>

{% endfor %}

</body>
</html>